<div class="container">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered row-border hover">
        <thead>
            <tr>
                <th>Código Externo</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Fecha Cierre</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lista of listado.Listado">
                <td>{{lista.CodigoExterno}}</td>
                <td>{{lista.Nombre}}</td>
                <td>Publicada</td>
                <td>{{lista.FechaCierre}}</td>
                <td>Ver más</td>
            </tr>
        </tbody>
    </table>
</div>